@font-face {
    font-family: 'DIN Pro';
    src: url('../font/DINPro-BoldItalic.woff2') format('woff2'),
        url('../font/DINPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../font/DINPro-CondensedBlack.woff2') format('woff2'),
        url('../font/DINPro-CondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../font/DINPro-Light.woff2') format('woff2'),
        url('../font/DINPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../font/DINPro-MediumItalic.woff2') format('woff2'),
        url('../font/DINPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../font/DINPro-LightItalic.woff2') format('woff2'),
        url('../font/DINPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../font/DINPro-CondensedBold.woff2') format('woff2'),
        url('../font/DINPro-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../font/DINPro-CondensedRegular.woff2') format('woff2'),
        url('../font/DINPro-CondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../font/DINPro-BlackItalic.woff2') format('woff2'),
        url('../font/DINPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../font/DINPro.woff2') format('woff2'),
        url('../font/DINPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../font/DINPro-Medium.woff2') format('woff2'),
        url('../font/DINPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../font/DINPro-Bold.woff2') format('woff2'),
        url('../font/DINPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../font/DINPro-CondensedLight.woff2') format('woff2'),
        url('../font/DINPro-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../font/DINPro-Italic.woff2') format('woff2'),
        url('../font/DINPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../font/DINPro-CondensedBlackItalic.woff2') format('woff2'),
        url('../font/DINPro-CondensedBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../font/DINPro-CondensedLightItalic.woff2') format('woff2'),
        url('../font/DINPro-CondensedLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../font/DINPro-CondensedMedium.woff2') format('woff2'),
        url('../font/DINPro-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../font/DINPro-Black.woff2') format('woff2'),
        url('../font/DINPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../font/DINPro-CondensedBoldItalic.woff2') format('woff2'),
        url('../font/DINPro-CondensedBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../font/DINPro-CondensedItalic.woff2') format('woff2'),
        url('../font/DINPro-CondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('../font/DINPro-CondensedMediumItalic.woff2') format('woff2'),
        url('../font/DINPro-CondensedMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

