.work {
    z-index: 8;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background: rgba(50,50,50,0.9);
    background: linear-gradient(340deg, rgba(50,50,50,0.85) 10%, rgba(57,57,57,0.93) 40%, rgba(50,50,50,0.85) 90%);
    backdrop-filter: blur(8px);
    pointer-events: none;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.35s cubic-bezier(0.85, 0.135, 0.15, 0.5);
    transform: perspective(500px) translate3d(0,10%,-25px);
    visibility: hidden;

    .container {
        position: relative;
    }

    &.active {
        opacity: 1;
        transform: perspective(0) translate3d(0,0,0);
        pointer-events: initial;
        visibility: initial;
    }

    button {
        transition: all .3s ease-out;
        position: sticky;
        z-index: 9;
        right: 30px;
        top: 30px;
        text-transform: uppercase;
        padding: .5rem 1.2rem;
        margin: 0 30px 20px auto;
        background: rgba($color: #464646, $alpha: 0.85);
        border: 0;
        color: #fff;

        &:hover {
            background: rgba($color: #fff, $alpha: 0.35);
            text-shadow: 0px 1px 8px rgba(255, 255, 255, 0.46);
            box-shadow: 3px -3px 0 rgba(0, 0, 0, 1);
        }
    }

    h5 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;
        margin-top: 2rem;
        text-align: center;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        text-justify: inter-word;
    }

    .project {
        position: relative;
        margin: 1rem 0;
        box-shadow: 0 1rem 2rem 0 rgba(20, 20, 20, 0.1);
        transition: all .3s ease-in-out;

        img {
            width: 100%;
            height: auto;
        }

        .over {
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: linear-gradient(190deg, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1) 70%);
            transition: all .3s ease-in-out;

            .project-info {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                color: #000;
                font-size: 1.2rem;
                line-height: 1.2rem;

                span {
                    color: #555;
                    font-size: .8rem;
                }
            }
        }

        &:hover {
            margin-top: 0;
            box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.6);

            .over {
                opacity: 1;
            }
        }

    }
}

@media only screen and (min-width: 980px) {
    .work {

        h5 {
            font-size: 3rem;
        }
    }
}