#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: all 1.5s ease-in-out;
    visibility: visible;
    opacity: 1;
    pointer-events: none;

    .progress-bar {
        height: 6px;
        background-color: #ffffff;
        font-weight: bold;
        color: #ffffff;
        padding: 2px 0;
        border-radius: 3px;
        text-shadow: none;
        box-shadow:
            0 0 2px #ffffff,
            0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 20px #ffffff,
            0 0 40px #ffffff,
            0 0 100px #ffffff;
        animation: neonGlow 1.5s infinite alternate;
    }

    @keyframes neonGlow {
        0% {
            box-shadow:
                0 0 1px #ffffff,
                0 0 3px #ffffff,
                0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff,
                0 0 60px #ffffff;
        }

        50% {
            box-shadow:
                0 0 2px #ffffff,
                0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff,
                0 0 40px #ffffff,
                0 0 100px #ffffff;
        }

        100% {
            box-shadow:
                0 0 1px #ffffff,
                0 0 3px #ffffff,
                0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff,
                0 0 60px #ffffff;
        }
    }
}