<<<<<<< HEAD
@use "variables" as *;

body {
  background-image: url("/public/images/bg.webp");
  background-size: cover;
=======
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  z-index: 999;
}

body {
  background-color: $primary-color;
>>>>>>> 73cf912ee5fc08b0ff02aaf0783f6d2c027e7094
  font-family: "DIN Pro", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  color: #ffffff;
  overflow: hidden;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

#controls {
<<<<<<< HEAD
  position: fixed;

=======

  position: fixed;
>>>>>>> 73cf912ee5fc08b0ff02aaf0783f6d2c027e7094
  #toggleRotate {
    display: none;
  }
}

.fucking-btn {
  display: block;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
  background: rgba($color: #323232, $alpha: 0.4);
  border: 0;
  color: #ffffff !important;
  text-decoration: none !important;

  &:hover {
    background: rgba($color: rgb(58, 97, 121), $alpha: 0.5);
    text-shadow: 0 1px 8px rgba(255, 255, 255, 0.46);
    box-shadow: 3px -3px 0 rgba(0, 0, 0, 0.4);
  }
}

.nav-bottom {
  z-index: 9;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 960px;
}

.content-title {
<<<<<<< HEAD
  z-index: 1000;
=======
>>>>>>> 73cf912ee5fc08b0ff02aaf0783f6d2c027e7094
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  margin: 0 1rem;
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
  text-align: center;
  pointer-events: none;
  user-select: none;

  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 0.4rem;
    margin: 0;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.45rem;
    margin: 0 5px 0 0;
  }
}

.content-informations {
<<<<<<< HEAD
  z-index: 1000;
=======
>>>>>>> 73cf912ee5fc08b0ff02aaf0783f6d2c027e7094
  position: absolute;
  right: 0;
  left: 0;
  top: 20px;
  margin: 0 1rem;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  text-align: center;

  button,
  a {
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    background: transparent;
    border: 0;
    margin: 0 0.25rem;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #fff;
    padding: 0;

    &:hover {
      text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }
  }
}

@media only screen and (min-width: 980px) {
  .content-title {
<<<<<<< HEAD
    z-index: 1000;
=======
>>>>>>> 73cf912ee5fc08b0ff02aaf0783f6d2c027e7094
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    margin: 0;

    h1 {
      font-size: 4rem;
      letter-spacing: 0.8rem;
      margin: 0;
    }

    h2 {
      font-size: 2rem;
<<<<<<< HEAD
      letter-spacing: 0.45rem;
      margin: 0 8px 0 0;
=======
      letter-spacing: 0.5rem;
      margin: 0 0.5rem 0 0;
>>>>>>> 73cf912ee5fc08b0ff02aaf0783f6d2c027e7094
    }
  }

  .content-informations {
<<<<<<< HEAD
    z-index: 1000;
=======
>>>>>>> 73cf912ee5fc08b0ff02aaf0783f6d2c027e7094
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: right;
    margin: 0;
  }
}

<<<<<<< HEAD
.overlay:before {
  z-index: 998;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/textures/lcd.png");
  filter: opacity(0.3) saturate(20) contrast(20) brightness(0.1);
  pointer-events: none;
}

.overlay:after {
  z-index: 998;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 120%);
  opacity: 1;
  pointer-events: none;
}
=======
 .overlay:before {
   content: "";
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url("/textures/lcd.png");
   opacity: 0;
   pointer-events: none;
 }

 .overlay:after {
   content: "";
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   background: radial-gradient(circle,
       rgba(0, 0, 0, 0) 0%,
       rgba(0, 0, 0, 0.8) 90%,
       rgba(0, 0, 0, 1) 110%);
   opacity: 0.5;
   pointer-events: none;
 }
>>>>>>> 73cf912ee5fc08b0ff02aaf0783f6d2c027e7094
